<div class='container'>

<h1><%= @cocktail.name %></h1>

<div class='row'>
  <div class='col-sm-12 col-md-6'>
    <p class="well"><strong>Recipe:</strong></p>

    <table class='table table-bordered'>
      <tbody>
        <thead>
          <th>Ingredient</th>
          <th>Description</th>
          <th>Action</th>
        </thead>
        <% @cocktail.doses.each do |dose| %>
          <tr>
            <td><%= dose.ingredient.name %></td>
            <td><%= dose.description %></td>
            <td>
              <%= link_to "Destroy ingredient", dose_path(dose), method: delete, data: { confirm: 'Are you sure?' } do %></td>
                <i class="fa fa-trash destroy_dose"></i>
              <% end %>
          </tr>
        <%= end %>
      </tbody>
    </table>
  </div> 
  <div class="col-sm-12 col-md-6">
    <%= render new_cocktail_dose_path, cocktail: @cocktail, dose: dose %>
  </div>
</div>

<%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
<%= link_to cocktails_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
---

<%# <ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <%# <li class="list-group-item"><%= dose.name</li> %>
    <%# <%= link_to "Remove ingredient", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %> %> %>
  <%# <% end %> %>
<%# </ul> %>
<%# <hr> %> %>






